.icon-example-wrap {
	padding: 40px 0;
	@include cf;
	li {
		float: left;
		width: 10%;
		height: 150px;
		//border: 1px solid $base-font-color;
		text-align: center;
		@include box-sizing;
		i {
			font-size: 30px;
		}
		span {
			display: block;
			padding: 18px;
			color: #8b9ab7;
			font-size: 13px;
			font-weight: 300;
			@include box-sizing;
		}
	}
}