.error-contents {
	display: table;
	width: 100%;
	.error-wrap {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		h2 {
			font-weight: 800;
			font-size: 180px;
			margin-top: -0.5em;
		}
		.not-page {
			font-weight: 600;
			font-size: 25px;
			color: #000;
		}
		.info-txt {
			margin: 20px 0;
			font-size: 17px;
			color: #999;
		}
		.home-btn {
			border-radius: 30px;
		}
	}
}
